
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHartronLabel" data-translate="studentApp.hartron.home.createOrEditLabel">Create or edit a Hartron</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.hartron.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.hartron.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="studentApp.hartron.employee_name" for="field_employee_name">Employee Name</label>
            <input type="text" class="form-control" name="employee_name" id="field_employee_name"
                    ng-model="vm.hartron.employee_name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="studentApp.hartron.designation" for="field_designation">Designation</label>
            <input type="text" class="form-control" name="designation" id="field_designation"
                    ng-model="vm.hartron.designation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="studentApp.hartron.phone_no" for="field_phone_no">Phone No</label>
            <input type="number" class="form-control" name="phone_no" id="field_phone_no"
                    ng-model="vm.hartron.phone_no"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
